* {
  box-sizing: border-box;
}

article {
  margin: 20px;
  width: 300px;
  padding: 30px;
  background: linear-gradient(to right, #63f2f0, #45defb);
  border-radius: 5px;

  color: white;
  position: relative;
}

.ordersNumbers {
  margin-bottom: 50px;
  font-size: 26px;
  font-weight: bold;
}

.flexContainer {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.circle1,
.circle2 {
  position: absolute;
  width: 130px;
  height: 130px;
  background-color: white;
  border-radius: 50%;
  opacity: 0.3;
}

.circle1 {
  top: -10px;
  left: 230px;
}

.circle2 {
  right: -30px;
  bottom: -60px;
}
